### Import Libraries

In [ ]:
#Har Wai San, WQD180025 (17051470/1)

In [54]:
#import libraries and load dataset

import pandas as pd
import numpy as np

### 1. Data Exploration
#### 1.1 Import the dataset

In [55]:
#loading the dataset and add column headers
df = pd.read_csv('output.(6 May).csv', names=['Date','Sector_Number','Sector_Name','Stock_Code','Stock_Name','Ref','Open','Last','Change','Change_%', 'Volume'])
print(df.shape)
df.head(3)

(69682, 11)

,Date,Sector_Number,Sector_Name,Stock_Code,Stock_Name,Ref,Open,Last,Change,Change_%,Volume
0,3/13/2020,1,Bursa Malaysia Bond Islamic Stocks,0400GA,DIN040000223,102.2,101.8,101.8,-0.4,-0.39,1
1,3/13/2020,1,Bursa Malaysia Bond Islamic Stocks,0400GC,DIN042300721,101.8,0.0,0.0,0.0,0.00,0
2,3/13/2020,1,Bursa Malaysia Bond Islamic Stocks,0400GB,DIN045801028,104.5,104.5,104.5,0.0,0.00,1

#### 1.2 Descriptive Dataset

In [56]:
#Count Unique value in all dataset columns
df.nunique()

Date                36
Sector_Number       20
Sector_Name         20
Stock_Code        2326
Stock_Name        2077
Ref               1417
Open              1407
Last              1402
Change             276
Change_%          2975
Volume           19232
dtype: int64

In [57]:
# Get datatypes of columns in the dataframe
df.dtypes

Date              object
Sector_Number      int64
Sector_Name       object
Stock_Code        object
Stock_Name        object
Ref              float64
Open             float64
Last             float64
Change           float64
Change_%         float64
Volume             int64
dtype: object

In [58]:
#calling describe method from column 6 to the last column 
df.iloc[:, 6:11].describe()

               Open          Last        Change      Change_%        Volume
count  69682.000000  69682.000000  69682.000000  69682.000000  6.968200e+04
mean       0.693096      0.694439      0.000349      1.529059  2.199110e+04
std        4.273031      4.266857      0.369414     18.927120  1.158542e+05
min        0.000000      0.000000    -95.410000    -97.560000  0.000000e+00
25%        0.000000      0.000000      0.000000      0.000000  0.000000e+00
50%        0.045000      0.050000      0.000000      0.000000  1.760000e+02
75%        0.350000      0.355000      0.005000      0.590000  5.520000e+03
max      141.000000    141.000000      4.000000   1400.000000  5.031527e+06

In [59]:
# Object columns
df.describe(include=[np.object])

,Date,Sector_Name,Stock_Code,Stock_Name
count,69682,69682,69682,69682
unique,36,20,2326,2077
top,3/13/2020,Bursa Malaysia Industrial Products & Services ...,3026,TUNEPRO
freq,2016,14210,42,36

### 2. Data Cleaning
#### 2.1 Check for the missing values

In [60]:
#Check on missing values
df.isnull().sum() 
#There is no missing values in the dataset

Date             0
Sector_Number    0
Sector_Name      0
Stock_Code       0
Stock_Name       0
Ref              0
Open             0
Last             0
Change           0
Change_%         0
Volume           0
dtype: int64

In [61]:
#Exporting to CSVs
df.to_csv('Stock_cleanfile.csv',index=False,header=True)